*.o
*.obj
*.a
*.so
*.so.*
*.dylib
*.dll
*.lib
*.exe
.DS_Store
.posit/
dev/
/rei.c
/rei.h
/compile_commands.json
/build/
tests/unit/*
!tests/unit/*.c
tests/integration/*
!tests/integration/*.c
tests/soak/*
!tests/soak/*.c
tests/fuzz/*
!tests/fuzz/*.c
bench/*
!bench/*.c
!bench/notes.md
